/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-text-color: #353430;
  --bg-color: #fff1f7;
  --main-header-color: #ffc2e6;
  --button-color: #353430;
  --button-hover-border: #32312d66;
  --section-header-color: #353430;
  --article-header-color: #353430;
  --article-bg-color: #ff8dcb;
  --link-shadow-color: #ff8dcb;
  --bg-image: url('../images/cover-image-light.png');
  --visible: hidden;
}

.theme-light .header__rec,
.theme-auto .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root,
  :root.theme-auto {
    --main-text-color: #353430;
    --bg-color: #fff1f7;
    --main-header-color: #ffc2e6;
    --button-color: #353430;
    --button-hover-border: #32312d66;
    --section-header-color: #353430;
    --article-header-color: #353430;
    --article-bg-color: #ff8dcb;
    --link-shadow-color: #ff8dcb;
    --bg-image: url('../images/cover-image-light.png');
    --visible: hidden;
  }
}
